.OrdersManagement {
        text-align: center;
         max-width: 800px;
          margin: 0 auto;
          padding: 20px;
          background-color: hotpink;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .OrdersManagement table {
      width: 100%;
      border-collapse: collapse;
    }
    
    
    .OrdersManagement th {
      background-color:hotpink;
      padding: 10px;
      text-align: left;
    }
    
    
    .OrdersManagement td {
      border-bottom: 1px solid #ddd;
      padding: 10px;
    }
    
    
    .OrdersManagement button {
      padding: 8px 15px;
      margin-top: 10px;
      background-color: darkmagenta;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
  
    .OrdersManagement button:hover {
      background-color: #0056b3;
    }