body {
  background-color: lightgreen;
  
}
p{
  font-size:30px;
}
a{
  font-size:50px;
}
h1{
  font-size:30px;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Dashboard styles */
.dashboard-container {
  padding: 50px;
  background-color: #f0f0f0;
}

/* Products Management styles */
.products-management-container {
  padding: 20px;
  background-color: #d60808;
}

/* Orders Management styles */
.orders-management-container {
  padding: 20px;
  background-color: #f0f0f0;
}

/* Navigation styles */
nav ul {

  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  nav ul li {
    display: flex;
    margin-bottom: 10px;
  }
}